.Button {
	background-color: var(--clrTheme2);
	color: var(--clrBg3);
	padding: 1rem 2rem;
	border-radius: 0.5rem;
	display: inline-block;
	transition: all 0.1s;
	box-sizing: border-box;
	background-image: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.1));

	&:hover {
		filter: brightness(1.2);
		color: var(--clrBg3);
	}

	&:not(.disabled):active {
		background-image: linear-gradient(to top, transparent, rgba(0, 0, 0, 0.1));
	}

	&.disabled {
		filter: saturate(0) brightness(1.5) !important;
		cursor: not-allowed;
	}
}
