.Button {
	background-color: var(--clrTheme2);
	color: var(--clrBg3);
	padding: 1rem 2rem;
	border-radius: 0.5rem;
	display: inline-block;
	transition: all 0.1s;
	border: var(--border);

	&:hover {
		filter: brightness(1.2);
		color: var(--clrBg3);
	}

	&:active {
		color: var(--clrTitle);
		transition-duration: 0.02s;
	}
}
