.App {
	color: $clrText;
	width: 100%;
	height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	--maxWidth: 128rem;

	nav {
		background-color: $clrBg1;
		padding: 1rem calc((100vw - var(--maxWidth)) / 2 + 1rem);
		align-items: center;
		display: flex;

		a {
			border-radius: 0.5rem;
			transition: all 0.2s;
			margin: 0 0.5rem;
			text-transform: uppercase;

			&:not(.logo) {
				display: flex;
				align-items: center;
				color: $clrTitle;
				padding: 1rem;

				&:hover {
					background-color: $clrTheme2;
					color: white;
				}
			}

			&.logo {
				background: url(/logo.jpeg) center / cover;
				width: 3.6rem;
				height: 3.6rem;

				&:hover {
					filter: brightness(1.2);
				}
			}

			&.active {
				background-color: $clrTheme1;
				color: $clrBg1;
			}

			&.LanguageSwitcher {
				width: 2.4rem;
				height: 2.4rem;
				position: relative;
				padding: 0;
				margin-left: 1rem;

				&:hover {
					background-color: transparent;
				}

				img {
					display: block;
					width: 100%;
					height: 100%;
					object-fit: contain;
					object-position: center;
				}
			}

			&.User {
				margin-left: auto;

				&:not(.login) {
					font-size: 2.4rem;
				}

				&.login {
					width: 3.6rem;
					height: 3.6rem;
					position: relative;
					padding: 0;
					border-radius: 0.5rem;
					overflow: hidden;

					&:hover {
						filter: brightness(1.2);
					}

					img {
						width: 100%;
						height: 100%;
					}
				}
			}
		}
	}

	main {
		flex: 1;
		overflow-y: auto;
		overflow-x: hidden;
		margin: 0 auto;
		width: 100%;
		max-width: var(--maxWidth);
	}

	footer {
		background-color: $clrBg1;
		padding: 1rem calc((100vw - var(--maxWidth)) / 2);
		align-items: center;
		display: flex;
		justify-content: center;
		color: #aaa;
	}
}
