.EmojiSpin {
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: relative;
	display: flex;
	flex-direction: column;

	.StatusBar {
		background-color: #8c6a2d;
		padding: 0.5rem 1rem;
		font-size: 2rem;
		color: gold;
	}

	.screens {
		flex: 1 0 auto;
		position: relative;
		overflow: hidden;

		.screen {
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			overflow: hidden;
			position: absolute;
		}

		.GameScreen {
			display: flex;
			flex-direction: column;

			.top-area {
				flex: 0 1 40rem;
				position: relative;

				.SlotArea {
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					display: flex;
					flex-direction: row;
					background-color: #ffeebf;

					.Column {
						flex: 1;
						height: 100%;
						position: relative;
						overflow: hidden;

						&.spinning {
							filter: url("#blur");
						}

						.column-wrapper {
							position: relative;
							width: 100%;
							height: 100%;
							transform: translateY(calc(var(--bias, 0) * 1%));

							

							.slots {
								display: flex;
								flex-direction: column;
								width: 100%;
								height: 100%;
								position: absolute;
								top: 0;
								left: 0;

								&.fake {
									transform: translateY(-100%);
								}

								.Slot {
									flex: 1 0 auto;
									position: relative;
									border: solid 1px rgba(0, 0, 0, 0.2);

									&.hidden {
										position: absolute;
									}

									.slot-content {
										display: flex;
										position: absolute;
										width: 100%;
										height: 100%;
										top: 0;
										left: 0;
										align-items: center;
										justify-content: center;

										.EmojiSprite {
											font-size: 6rem;
										}
									}
								}
							}
						}
					}

					&>svg {
						display: none;
					}
				}

				.VFXArea {
					position: absolute;
					z-index: 1;
					pointer-events: none;
					width: 100%;
					height: 100%;
					top: 0;
					left: 0;

					.scores {
						position: absolute;
						top: 0;
						left: 0;
						width: 100%;
						height: 100%;

						

						.score {
							position: absolute;
							transform: translate(-50%, -50%);
							color: gold;
							font-size: 4rem;
							font-weight: bold;
							text-shadow: -1px -1px 0px #794b0a, -1px 1px 0px #794b0a, 1px -1px 0px #794b0a, 1px 1px 0px #794b0a;
							animation: score-pop 1s both alternate;
							display: flex;
							align-items: center;
							justify-content: center;
							width: 5rem;
							height: 5rem;
							background-image: radial-gradient(closest-side at center, #ffac4d, transparent);
							

							@keyframes score-pop {
								0% {
									opacity: 0;
									transform: translate(-50%, -50%) scale(0.5);
								}

								20% {
									opacity: 1;
									transform: translate(-50%, -50%) scale(2);
								}

								30% {
									opacity: 1;
									transform: translate(-50%, -50%) scale(0.9);
								}

								50% {
									opacity: 1;
									transform: translate(-50%, -50%) scale(1);
								}

								80% {
									opacity: 1;
									transform: translate(-50%, -50%) scale(1);
								}

								100% {
									opacity: 0;
									transform: translate(-50%, calc(-50% - 5rem)) scale(1);
								}
							}
						}
					}
				}
			}

			.bottom-area {
				flex: 1 0 40%;
			}
		}
	}
}
