.CV {
	--bg1: #5d6b86;
	--main1: #ffd86e;
	--txt1: #fff;
	--border1: solid 2px rgba(0, 0, 0, 0.1);

	--bg2: #fff;
	--main2: #369;
	--txt2: var(--bg1);

	display: flex;
	min-height: 100%;
	justify-content: stretch;
	color: rgba(0, 0, 0, 0.7);

	@include phone {
		flex-direction: column;
	}

	.section {
		&:not(:first-child) {
			margin-top: 2.4rem;
		}

		&.profile {
			position: relative;

			[data-role='pic'] {
				width: 100%;
				height: auto;
				object-fit: cover;
				object-position: center;
				border: solid 0.5rem #fff;
			}

			[data-role='name'] {
				font-size: 2.4rem;
				font-weight: bold;
				display: flex;
				flex-direction: column;

				.kata {
					font-size: 1.2rem;
					font-weight: normal;
					line-height: 1.2rem;
				}
			}

			[data-role='title'] {
				font-style: italic;

				@include phone {
					opacity: 0.8;
				}
			}

			[data-role='details'] {
				@media only screen and (max-width: 632px) and (min-width: 480px)  {
					position: absolute;
					transform: translateY(calc(-100% - 1rem));
					left: 0.5rem;
					width: calc(100% - 1rem);
					background-color: rgba(0, 0, 0, 0.5);
					text-align: center;
					padding: 0.5rem 0;
				}
			}
		}

		.title {
			font-size: 2rem;
			text-transform: uppercase;
			padding-bottom: 0.5rem;
			font-weight: bold;
			font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
			border-bottom: solid 2px rgba(255, 255, 255, 0.5);
			margin-bottom: 0.5rem;
			color: var(--main1);
		}

		.list {
			li {
				&:not(:first-of-type) {
					margin-top: 1rem;
				}
			}

			&[data-role='contact-list'] {
				li {
					a {
						color: inherit;
						display: flex;
						align-items: center;
						span {
							text-decoration: underline;
						}

						i {
							margin-right: 1rem;
						}

						&:hover {
							color: var(--main1);
						}
					}
				}
			}

			&.skill-list {
				li {
					display: flex;
					align-items: center;
					justify-content: space-between;
				}
			}
		}
	}

	.left-panel {
		flex: 0 0 28rem;
		background-color: var(--bg1);
		padding: 2rem;
		color: var(--txt1);
		font-size: 1.8rem;

		hr {
			border-top: solid 2px rgba(255, 255, 255, 0.5);
			margin: 1rem 0;
		}

		@include phone {
			display: grid;
			grid-template-columns: 1fr 1fr;
			gap: 2rem;

			.section {
				margin-top: 0;

				&.programming-language {
					grid-row: auto / span 2;
				}
			}
		}
	}

	.right-panel {
		overflow: hidden;
		flex: 1;
		background-color: var(--bg2);
		padding: 2rem;
		position: relative;

		.section {
			position: relative;
			z-index: 1;
			display: flex;

			&:not(:first-child) {
				margin-top: 2rem;
				padding-top: 2rem;

				&::before {
					content: '';
					display: block;
					width: 20rem;
					max-width: 80vw;
					height: 2px;
					background-color: var(--bg1);
					position: absolute;
					top: 0;
					left: 50%;
					transform: translateX(-50%);
					opacity: 0.5;
					@include phone {
						display: none;
					}
				}
			}

			&.about-me {
				p {
					font-size: 1.8rem;
				}
			}

			@include phone {
				flex-direction: column !important;

				&:first-child {
					margin-top: -2rem;
				}
			}

			.title {
				background-color: var(--bg1);
				color: var(--bg2);
				direction: ltr;
				writing-mode: vertical-rl;
				display: flex;
				align-items: center;
				font-size: 2rem;
				padding: 2rem 1rem;

				@include phone {
					writing-mode: initial;
					text-align: center;
					align-items: center;
					justify-content: center;
					padding: 1rem 2rem;
					background-color: initial;
					color: var(--bg1);
					border-bottom: solid 2px currentColor;
					font-size: 2.4rem;
				}

				i {
					margin-inline-end: 1rem;
				}
				margin-block-start: 1rem;
				border-bottom: none;
			}

			& > *:not(.title) {
				flex: 1;
			}

			&:nth-child(2n) {
				flex-direction: row-reverse;

				.title {
					margin-block-start: 0;
					margin-block-end: 1rem;

					@include phone {
						margin-left: 0;
					}
				}
			}

			&.achievement {
				font-size: 1.8rem;
				a {
					color: var(--bg1);
					text-decoration: underline;

					&:hover {
						color: var(--main1);
					}
				}
			}

			ul {
				list-style-position: inside;
				list-style-type: disc;
		
				li {
					&:not(:first-child) {
						margin-top: 0.5rem;
					}
				}
			}
		}
	}
}

.Background {
	--ratio: 0;

	position: absolute;
	top: 0;
	top: calc((1 - var(--ratio)) * -20vh);
	left: 0;
	width: 120vh;
	height: 100%;
	overflow: hidden;

	.particle-container {
		position: absolute;
		width: 100%;
		animation-name: particle-container;
		animation-timing-function: linear;
		animation-fill-mode: both;
		animation-iteration-count: infinite;

		.particle {
			background-color: var(--bg1);
			opacity: 0.15;
			animation-name: particle-spin;
			animation-timing-function: linear;
			animation-fill-mode: both;
			animation-iteration-count: infinite;
			filter: blur(4px);
		}
	}
}

@keyframes particle-container {
	from {
		transform: translateX(calc(var(--size) * -2));
	}

	to {
		transform: translateX(calc(100% + var(--size) * 2));
	}
}

@keyframes particle-spin {
	from {
		transform: translate(-50%, -50%) rotate(0turn);
	}

	to {
		transform: translate(-50%, -50%) rotate(1turn);
	}
}

.Stars {
	color: var(--main1);

	.icon-star-half {
		opacity: 0.75;
	}

	.icon-star-empty {
		opacity: 0.5;
	}
}

.Timeline {
	display: flex;
	align-items: stretch;

	.entries {
		flex: 1;
		position: relative;

		.entry {
			display: flex;
			width: 100%;

			&:last-child {
				.line {
					&::after {
						display: none;
					}
				}

				.wrapper {
					padding-bottom: 0;
				}
			}

			&:not(:first-child) {
				margin-top: 4px;
			}

			.line {
				position: relative;
				display: flex;
				flex-direction: column;
				align-items: center;
				margin-right: 1rem;

				i {
					display: flex;
					font-size: 2.4rem;
					width: 4rem;
					height: 4rem;
					background-color: var(--main1);
					color: var(--main2);
					align-items: center;
					justify-content: center;
				}

				&::after {
					content: '';
					flex: 1;
					width: 2px;
					background-color: var(--bg1);
					margin-top: 4px;
				}
			}

			.wrapper {
				padding-bottom: 4rem;
				flex: 1;

				time {
					display: flex;
					color: var(--bg1);
					line-height: 4rem;
					font-size: 2rem;

					time {
					}
				}

				.position-area {
					font-size: 1.8rem;
					display: inline-block;
					margin: 0.5rem 0;
					padding: 0.5rem 1rem;
					font-weight: bold;
					background-color: var(--bg1);
					color: var(--bg2);
					.position {
					}

					.at {
						margin: 0 0.5rem;
						font-size: 0.8em;
					}

					.institution {
						&[href] {
							color: inherit;
							text-decoration: underline;

							&:hover {
								color: var(--main1);
							}
						}
					}
				}

				.content {
					a {
						color: var(--main2);
						text-decoration: underline;

						&:hover {
							color: var(--main1);
						}
					}

					ul {
						list-style-position: inside;
						list-style-type: disc;

						li {
							&:not(:first-child) {
								margin-top: 0.5rem;
							}
						}
					}
				}
			}
		}
	}
}
