.HexieEncoder {
	text-align: center;
	padding: 1rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100%;
	overflow: auto;

	& > * {
		&:not(:first-child) {
			margin-top: 1rem;
		}
	}

	h1 {
		font-size: 3rem;
	}

	textarea,
	input[type='text'] {
		max-width: 100%;
		width: 60rem;
	}

	textarea {
		resize: none;
		height: 24rem;
		flex: 1;
		max-height: 48rem;
	}

	.custom-dict {
		flex: 0 0 auto;
	}

	.button-area {
		width: 60rem;
		max-width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;

		.Button {
			flex: 1;
			&:not(:first-of-type) {
				margin-left: 1rem;
			}
		}
	}
}
