.Forum {
	max-width: 90rem;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	height: 100%;
	overflow: hidden;
	position: relative;

	.PostList {
		padding: 1rem;
		display: flex;
		flex-direction: column;
		flex: 1;

		.list-wrapper {
			flex: 1;
			position: relative;

			.list {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				overflow-y: auto;

				.PostEntry {
					display: flex;
					background-color: var(--clrLight);
					padding: 1rem;
					padding-right: 2rem;
					color: var(--clrText);
					border-radius: 0.5rem;
					align-items: center;
					border: var(--border);

					&:not(:first-of-type) {
						margin-top: 1rem;
					}

					&:hover {
						background-color: var(--clrTheme1);
						color: var(--clrTitle);

						.UserAvatar {
							h2 {
								transform: translateY(0);
							}
						}
					}

					.summary {
						margin-left: 1rem;

						h2 {
							font-weight: normal;
							font-size: 1.8rem;
							margin-bottom: 0.5rem;

							p {
								display: -webkit-box;
								line-clamp: 2;
								-webkit-line-clamp: 2;
								box-orient: vertical;
								-webkit-box-orient: vertical;
								text-overflow: ellipsis;
								overflow: hidden;
							}
						}

						.create {
							font-size: 1.4rem;
							opacity: 0.6;
						}
					}

					.details {
						margin-left: auto;
						.comments {
							display: flex;
							align-items: center;
							font-size: 2rem;

							&::before {
								content: '\e900';
								font-family: 'icomoon';
								margin-right: 0.5rem;
								font-size: 1.33em;
							}
						}
					}
				}
			}
		}
	}

	.Post {
		display: flex;
		flex-direction: column;
		flex: 1;
		padding: 1rem;

		.post-area {
			flex: 1;
			position: relative;
			.post-wrapper {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				overflow-y: auto;
				overflow-x: hidden;

				.PostBody {
					background-color: var(--clrBg3);
					padding: 1.6rem;
					border-radius: 0.5rem;
					filter: drop-shadow(0rem 2px 0px rgba(0, 0, 0, 0.2));

					.wrapper {
						.title-area {
							display: flex;
							align-items: center;

							.UserAvatar {
							}

							.info-area {
								margin-left: 1rem;
								h2 {
									font-weight: normal;
									font-size: 2.4rem;
									margin-bottom: 0.5rem;
								}

								time {
									opacity: 0.5;
									font-size: 1.4rem;
								}
							}

							margin-bottom: 1rem;
							padding-bottom: 1rem;
							border-bottom: solid 1px rgba(0, 0, 0, 0.1);
						}

						.body-area {
							p {
							}
						}
					}
				}

				.Comments {
					margin: -1rem;
					margin-top: 1rem;
					flex: 1;
					position: relative;

					.comment-wrapper {
						time {
							display: block;
							font-size: 1.2rem;
							opacity: 0.5;
							margin-left: 10rem;
							margin-top: 2rem;
							color: var(--clrSub);

							&.me {
								text-align: right;
								margin-right: 10rem;
							}
						}
						.Comment {
							display: flex;
							align-items: flex-start;
							position: relative;
							padding: 1rem;

							

							.UserAvatar {
							}

							.content {
								background-color: var(--clrBg3);
								padding: 1.6rem;
								border-radius: 0.5rem;
								max-width: calc(100% - 18.8rem);
								position: relative;
								filter: drop-shadow(0rem 2px 0px rgba(0, 0, 0, 0.2));
							}

							&:not(.me) {
								&>* {
									&:not(:first-child) {
										margin-left: 1rem;
									}
								}
							}

							&.me {
								&>* {
									&:not(:last-child) {
										margin-left: 1rem;
									}
								}

								justify-content: flex-end;
								.content {
									order: -1;
									background-color: #fffded;

									&::before {
										left: initial;
										right: -1rem;
										transform: scaleY(0.5) rotate(45deg);
										clip-path: polygon(0 0, 100% 100%, 100% 0);
									}
								}
							}
						}
					}
				}

				.ChatInput {
					margin-top: 1rem;
				}
			}

			.ChatInput {
			}
		}
	}
}

.ChatInput {
	&.locked {
		filter: saturate(0) brightness(0.75);
		opacity: 0.5;
		pointer-events: none;
	}

	.title-area {
		display: flex;
		align-items: stretch;
		margin-top: 1rem;

		& > *:not(:first-child) {
			margin-left: 1rem;
		}

		.Button {
			padding: 1rem 1.5rem;
			font-size: 1.8rem;
		}
	}

	.body-area {
		display: flex;
		margin-top: 1rem;
	}
}

.UserAvatar {
	flex: 0 0 6.4rem;
	height: 6.4rem;
	position: relative;
	border-radius: 0.5rem;
	overflow: hidden;
	cursor: pointer;
	border: var(--border);

	&:hover {
		filter: brightness(1.2);
		h2 {
			transform: translateY(0);
		}
	}

	img {
		width: 100%;
		height: 100%;
	}

	h2 {
		position: absolute;
		display: block;
		white-space: nowrap;
		bottom: 0;
		left: 0;
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: 1.2rem;
		font-weight: normal;
		background-color: rgba(0, 0, 0, 0.5);
		padding: 0.5rem 0.5rem;
		color: white;
		transition: transform 0.2s;
		transform: translateY(100%);
	}
}
