.HexieEncoder {
	text-align: center;
	padding: 2rem 1rem;

	& > * {
		&:not(:first-child) {
			margin-top: 1rem;
		}
	}

	h1 {
		font-size: 3rem;
	}

	textarea,
	input[type='text'] {
		padding: 1rem;
		padding-top: calc(1rem + 0.5rem);
		font-size: 1.6rem;
		outline: none;
		max-width: 100%;
		width: 60rem;

		color: #333;
		background-color: #eee;
		box-shadow: 0px 0.5rem 0px inset rgba(0, 0, 0, 0.15);
		border: none;
		border-radius: 0.2rem;

		&::placeholder {
			color: #888;
		}
	}

	textarea {
		resize: none;
		height: 24rem;
	}

	.button-area {
		width: 60rem;
		max-width: 100%;
		display: flex;
		margin-left: auto;;
		margin-right: auto;;

		.Button {
			flex: 1;
			&:not(:first-of-type) {
				margin-left: 1rem;
			}
		}
	}
}
