.Moyu {
	display: flex;
	flex-direction: column;
	background-color: #ccc;
	height: 100%;
	user-select: none;

	.top-area {
		flex: 0 1 50rem;
		position: relative;
		max-height: 50%;

		.InfoArea {
			position: absolute;
			top: 0;
			left: 0;
			font-size: 3rem;
			color: white;
			pointer-events: none;
			z-index: 1;
			padding: 1rem 2rem;
			display: flex;
			text-shadow: 0px 3px 0px rgba(0, 0, 0, 0.5);
			width: 100%;

			.fish-count {
				display: flex;
				align-items: center;

				i {
					margin-right: 1rem;
				}
			}

			.fish-amount {
				margin-left: auto;
			}
		}

		.FishTank {
			--clr1: steelblue;
			--clr2: #529ad6;
			background-image: repeating-linear-gradient(to bottom, var(--clr1) 0rem, var(--clr1) 1rem, var(--clr2) 1rem, var(--clr2) 2rem);
			position: absolute;
			overflow: hidden;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			border: $moyuBorder;

			.Fish {
				--x: 0;
				--y: 0;
				--dir: 1;
				--duration: 1000;

				cursor: pointer;
				position: absolute;
				display: block;
				width: 16rem;
				height: 9rem;
				color: $clrTheme1;

				filter: drop-shadow(0px 6px 0px rgba(0, 0, 0, 0.4));

				left: calc(var(--x) * 100% - var(--x) * 16rem);
				top: calc(var(--y) * 100% - var(--y) * 9rem);
				transform: scaleX(var(--dir));

				transition-property: left, top;
				transition-duration: calc(1000ms + var(--duration) * 1ms);

				&.dead {
					transform: scaleX(1);
					pointer-events: none;

					span {
						display: flex;
						animation: float 1s ease-out both;
					}

					img {
						display: none;
					}
				}

				img {
					width: 100%;
					height: 100%;
					object-fit: contain;
					object-position: center;
				}

				span {
					display: flex;
					position: absolute;
					opacity: 0;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					align-items: center;
					justify-content: center;
					transition: all 1s;
					font-size: 4rem;
					font-weight: bold;
				}
			}
		}
	}

	.bottom-area {
		flex: 1 0 auto;
		position: relative;
	}

	.UpgradeArea {
		border: $moyuBorder;
		height: 100%;
		position: relative;

		.upgrade-list {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			overflow-x: hidden;
			overflow-y: auto;
			padding: 1rem;

			.Upgrade {
				color: inherit;
				background-color: #ceff98;
				display: grid;
				padding: 1rem;
				border-radius: 0.5rem;
				border: $moyuBorder;

				grid-template-areas:
					'icon title'
					'icon level';

				grid-template-columns: min-content 1fr;
				gap: 1rem;
				position: relative;

				&.ins,
				&.locked {
					cursor: not-allowed;
					filter: saturate(0) brightness(0.75);
				}

				&.locked {
					&::after {
						content: '\e906';
						font-family: icomoon;
						position: absolute;
						top: 0;
						left: 0;
						width: 100%;
						height: 100%;
						display: flex;
						align-items: center;
						justify-content: center;
						color: rgba(0, 0, 0, 0.6);
						font-size: 4rem;
						background-color: rgba(255, 255, 255, 0.5);
					}
				}

				&:not(:first-child) {
					margin-top: 1rem;
				}

				.icon-area {
					grid-area: icon;
					font-size: 2.4rem;
					place-self: center;

					& > * {
						border-radius: 3rem;
						display: flex;
						width: 4rem;
						height: 4rem;
						background-color: #888;
						align-items: center;
						justify-content: center;
						color: #ceff98;
						border: $moyuBorder;
						font-family: Verdana, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
					}

					i {
						font-size: 0.9em;
					}
				}

				.title-area {
					display: flex;
					align-items: center;
					grid-area: title;

					h2 {
						flex: 0 1 10rem;
					}

					p {
						margin-left: 1rem;
					}

					h3 {
						i {
							margin-right: 0.5rem;
						}
						margin-left: auto;
					}
				}

				.level-area {
					grid-area: level;
					display: flex;
					align-items: center;
					height: 3rem;
					position: relative;

					h2 {
						flex: 0 1 10rem;
						font-size: 2rem;
					}

					figure {
						display: grid;
						flex: 1;
						grid-template-columns: repeat(10, 1fr);
						gap: 0.5rem;
						height: 100%;
						align-self: stretch;

						span {
							background-color: #ccc;
							border-radius: 0.5rem;
							border: $moyuBorder;

							&.active {
								background-color: #396;
							}
						}
					}
				}
			}
		}
	}
}

@keyframes float {
	0% {
		opacity: 0;
		transform: scale(1);
	}

	1% {
		opacity: 1;
		transform: translateY(0rem);
	}

	100% {
		transform: scale(2);
		opacity: 0;
	}
}
