*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
	font-family: inherit;
}

html {
	box-sizing: border-box;
	font-size: 62.5%;

	@media only screen and (max-width: 640px) {
		font-size: 1.6vw;
	}

	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	overflow: hidden;

	body {
		font-size: 1.6rem;
		overflow: hidden;
		width: 100vw;
		height: 100vh;
		position: relative;

		#root {
			position: relative;
			width: 100%;
			height: 100%;
		}
	}
}

a {
	color: var(--clrTheme1);
	transition: all 0.2s;

	&,
	&:link,
	&:visited {
		text-decoration: none;
	}

	&:hover {
		color: var(--clrTheme1);
	}
}

ul {
	list-style: none;
}

input,
textarea {
	font-size: inherit;
	font-family: inherit;
	flex: 1;
	outline: none;
	background-color: var(--clrBg3);
	resize: none;
	padding: 1rem;
	padding-top: calc(1rem + 2px);
	border-radius: 0.5rem;
	color: var(--clrText);
	border: var(--border);

	&::placeholder {
		color: var(--clrSub);
	}
}
