// @font-face {
// 	font-family: 'Noto Sans NC';
// 	src: url('/fonts/Noto_Sans_SC/NotoSansSC-Regular.otf') format('opentype'),
// 		// url('/fonts/Noto_Sans_SC/NotoSansSC-Medium.otf') format('opentype'),
// 		url('/fonts/Noto_Sans_SC/NotoSansSC-Thin.otf') format('opentype'),
// 		// url('/fonts/Noto_Sans_SC/NotoSansSC-Light.otf') format('opentype'),
// 		url('/fonts/Noto_Sans_SC/NotoSansSC-Bold.otf') format('opentype');
// 	// url('/fonts/Noto_Sans_SC/NotoSansSC-Black.otf') format('opentype');
// }

// @font-face {
// 	font-family: 'XiaoWei';
// 	src: url('/fonts/ZCOOL_XiaoWei/ZCOOLXiaoWei-Regular.ttf') format('truetype');
// }

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
	font-family: inherit;
}

html {
	box-sizing: border-box;
	font-size: 62.5%;

	@media only screen and (max-width: 632px) {
		font-size: 50%;
	}

	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	overflow: hidden;

	body {
		font-size: 1.6rem;
		overflow: hidden;
		width: 100vw;
		height: 100vh;
		position: relative;

		#root {
			position: relative;
			width: 100%;
			height: 100%;
		}
	}
}

a {
	color: var(--clrTheme1);
	transition: all 0.2s;

	&,
	&:link,
	&:visited {
		text-decoration: none;
	}

	&:hover {
		color: var(--clrTheme1);
	}
}

ul {
	list-style: none;
}

input:not([type]),
input[type='text'],
input[type='password'],
input[type='number'],
textarea {
	font-size: inherit;
	font-family: inherit;
	flex: 1;
	outline: none;
	background-color: var(--clrBg3);
	resize: none;
	padding: 1rem;
	padding-top: calc(1rem + 2px);
	border-radius: 0.5rem;
	color: var(--clrText);
	border: var(--border);

	&::placeholder {
		color: var(--clrSub);
	}
}

.swal2-popup {
	font-size: inherit;
}

.pc-only {
	@media only screen and (max-width: 632px) {
		display: none !important;
	}
}

.phone-only {
	@media only screen and (min-width: 632.1px) {
		display: none !important;
	}
}
