:root {
	--clrTheme1: #ffcb3d;
	--clrTheme2: #5577d4;
	--clrText: #555;
	--clrTitle: #333;
	--clrSub: #999;

	--clrLight: #ccc;
	--clrDark: #333;

	--clrBg1: #ddd;
	--clrBg2: #eee;
	--clrBg3: #fff;

	--max-width: 108rem;
	--border: solid 1px rgba(0, 0, 0, 0.15);
}