:root {
	--clrTheme1: #ffcb3d;
	--clrTheme2: #5577d4;
	--clrText: #eee;
	--clrTitle: #fff;
	--clrLight: #ccc;
	--clrSub: #999;

	--clrBg1: #666;
	--clrBg2: #444;
	--clrBg3: #333;

	--maxWidth: 128rem;
}