.Idioms {
	text-align: center;
	padding: 1rem;
	display: flex;
	height: 100%;
	flex-direction: column;
	align-items: center;

	&>* {
		&:not(:first-child) {
			margin-top: 1rem;
		}
	}

	.input {
		flex: 0 0 auto;
		max-width: 36rem;
		width: 100%;
	}

	.results {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(14rem, 1fr));
		grid-auto-rows: min-content;
		gap: 1rem;
		flex: 1;
		overflow-y: auto;
		align-self: stretch;
		align-items: center;

		span {
			display: inline-block;
			padding: 0.5rem 1rem;
			border-radius: 0.5rem;
			background-color: var(--clrTheme1);
			cursor: pointer;
			transition: all .3s;
			text-align: center;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;

			&:hover {
				background-color: var(--clrTheme2);
				color: white;
			}
		}
	}
}
